<a href="https://colab.research.google.com/github/kopalkaushiki/PythonHello/blob/main/kopal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("opal")

opal

In [ ]:
x=int(input("enter the valve"))
print (x)

enter the valve88
88

In [ ]:
x= "vani"
y=len(x)
print(y)
print(x)

4
vani

In [ ]:
x=0
if x==1:
  print("x=1")
else:
    print("x=0")

x=0

In [ ]:
num=2
if num>0:
  print("positive num")
elif num==0:
    print("zero")
else:
      print("negative num")

positive num

In [ ]:
n=10
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("the sum is", sum)

the sum is 55

In [ ]:
n=10
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
  print("the sum is", sum)#here there will be a different poutput because of the diffeence in the indentation

In [ ]:
for i in range(5):
  print (i)

0
1
2
3
4

In [ ]:
for x in range(2,6,):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,6,2):#here we have given the step value
  print(x)

2
4

In [ ]:
for x in range(1,6,2):
  print(x, end="a")

1a3a5a

In [ ]:
name1= "vani"
for x in name1:
  print(x)

v
a
n
i

In [ ]:
print (2**3)#using powers

8

In [ ]:
a= int(input())
if (a%2==0):
 print("the number is even")
else :
 print("the number is odd")

6
the number is even